@import "tailwindcss";

:root {
  --beige: #F5EDE3;
  --cream: #FFF9F9;
  --lavender: #D8CBEF;
  --blue: #C6D9F7;
  --pink: #E7B8C6;
  --dark-pink: #D294A9;
  --light-pink: #F9E4EC;
  --warm-pink: #FFCCD5;
  --charcoal: #444444;
  --softgray: #777777;
  color-scheme: light;
}

html, body, #root { height: 100%; }
body { background-color: var(--cream); color: var(--charcoal); }

/* Typography */
* { font-family: Poppins, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
h1, h2, h3 { font-family: "Playfair Display", Poppins, ui-serif, Georgia, serif; }
